* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: rgb(46, 29, 199);
}

fieldset {
    display: flex;
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50px;
    padding: 40px;
         

}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    text-transform: uppercase;
}

input {
    width: 50vh;
    height: 60px;
    padding: 4px;
    outline: none;
    border: 1px solid rgb(46, 29, 199);
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 10px;
}
input placeholder{
   padding: 4px;
}
.input-user i{
    position: absolute;
}

button {
    margin-top: 40px;
    height: 60px;
    width: 50vh;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid rgb(46, 29, 199);
    background-color: rgba(255, 255, 255, 0.997);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}


button:hover {
    background-color:rgb(46, 29, 199) ;
    transition: all 800ms ;
    color: white;
    border: 1px solid rgb(0, 0, 0);

}